:root{
    --bs-primary-rgb:51,81,89;
    --bs-primary:#335159;
    --bs-link-color-rgb:51,81,89;
    --bs-link-color:#335159;
    --bs-danger-rgb:57,91,100;
    --bs-danger:#395b64;
    
}
.btn-warning {
    --bs-btn-bg: #febd69;
    --bs-btn-border-color: #febd69;
    --bs-btn-hover-bg: #fdae5a;
    --bs-btn-hover-border-color: #fdae5a;
    --bs-btn-focus-shadow-rgb: 254,189,105;
    --bs-btn-active-bg: #febd69;
    --bs-btn-active-border-color: #febd69;
    --bs-btn-disabled-bg: #febd69;
    --bs-btn-disabled-border-color: #febd69;
}
.btn-primary {
    --bs-btn-bg: #395b64;
    --bs-btn-border-color: #395b64;
    --bs-btn-hover-bg: #395b64;
    --bs-btn-hover-border-color: #395b64;
    --bs-btn-focus-shadow-rgb: 57,91,100;
    --bs-btn-active-bg: #395b64;
    --bs-btn-active-border-color: #395b64;
    --bs-btn-disabled-bg: #395b64;
    --bs-btn-disabled-border-color: #395b64;
}
.hov :hover.ho{
    color: #febd69;
}
.font-fami1{
    font-family:Rubik;
}
.font-fami4{
    font-family: Bruno Ace SC ;
}


.foot-1{
    background-color: #436A75;
}
.p-40{
    padding-top: 40px ;
    padding-bottom: 40px ;
}
.navbar :hover{
    color:#febd69;
}
.foot li a {
    color:#DDDDDD;
}
.foot li:hover a{
    color:#febd69;
}
/* styles.css in */
.foot-2{
    background-color: #335159;
}
.ban{
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.ban-1{
    background-position:center;
}
.ban-2{
    background-position:center;
}
.ban-3{
    background-position:center;
}

.ban::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.01);
    z-index: 1;
}

.carousel-caption{
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
}

.pt-10{
    padding: 23vh 0 0 0;
}

  .carousel-control-prev-icon{
    background-image: url(../img/icon/1.svg);
  }
  .carousel-control-next-icon{
    background-image: url(../img/icon/2.svg);
  }

  .carousel-control-next, .carousel-control-prev{
    width: 10%;
  }
.back1{
    background-color: rgba(51,81,89,0.5);
    left:90%; 
    top:90%; 
    z-index: 10; 
    height: 50px ; 
    width: 50px;
}
.head-after{
    display: block !important;
    position: sticky !important; 
}
.bg-head{
    background-color:rgba(51,81,89,0.7 );
    backdrop-filter: blur(5px);
}

.underline {
    border-bottom: 2px solid black; 
    padding-bottom: 0px;
  }
.font-fami5{

    font-family: 'Kanit', sans-serif;
}